body {
    text-align: center;
}


/*.row {
    
    height: auto;
    min-height: 100%;
    margin: 0px auto;
    padding: 0px auto;
    width: 100%;
    background: transparent;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    opacity: 0.8;
    clear: both;
    
}*/
.livro {
 /*   
    
    margin: 10px 0.5px 10px 0.5px;
    text-align: center;
    width: 27%;
    margin-left: 1.5%;
    margin-right: 1.5%;*/
    padding: 10px 10px 10px 10px;
    border: 1px solid black;
    margin-top: 225px; 
    margin-bottom: 225px;
    
    
}
#livro1 {
    float: left;
}
#livro2 {
    
}
#livro3 {
    float: left;
}
.landingPage {
    text-align: center;
    margin: 450px auto 450px auto;
}
.without_books {
    text-align: center;
    margin: 450px auto 450px auto;

}
h1 {
    font-family: Monospace;
    font-weight: 550;
    color: black;
}
p {
    color: black;
    font-family: Verdana;
    font-weight: lighter; 
}
button {
    padding: 4px;
    border-radius: 4px;
}
.btn:hover {
    cursor: pointer;
    color: black;
    background: white;
    border: 1px solid black;
}
a {
    padding: 2px;
}
a:hover {
    font-family: FFF Tusj;
    font-size: 20px;
    font-weight: 600;
    color: black;

}
img {
    box-shadow: 2px 2px 10px;
}
label {
    display: center;
}
.active {
    display: block;
}






